NEXT_PUBLIC_HACKATHONS_API_KEY=your_airtable_personal_access_token_here
AIRTABLE_BASE_ID=your_airtable_base_id_here
AIRTABLE_TABLE_ID=your_airtable_table_id_here
REVALIDATE_SECRET=your_secret_token_for_revalidation_webhook
LOOPS_API_KEY=your_loops_api_key_here
